
<form method="get" action="{{ path('search') }}" id="searchform-block" enctype="text/plain">
    <input type="search" value="{{ search|default() }}" placeholder="{{ placeholder }}" name="search" class="rounded shadow">
</form>