{% use 'partials/_sub_field_blocks.twig' %}

{% setcontent sessions = 'sessions' where { session_types: 'panel' } orderby 'starttime' %}
{% setcontent events = 'programme' where { types: 'theme-setting || keynote' } %}
{% set sessionsperside = (sessions|length // 2) %}

{% set val_left = '' %}
{% set val_temp = '' %}

{% for session in sessions %}
    {% set filtered_events = events|filter(v => v.relation.sessions|first == session.id) %}
    {% set keynote = filtered_events|filter(v =>  v.taxonomy.types|first == "Keynote") %}
    {% set themepaper = filtered_events|filter(v => v.taxonomy.types|first == "Theme-setting paper") %}
    {% if keynote|length > 0 and themepaper|length > 0 %}
    {% set val_temp = [val_temp, "<strong>", session.title, "</strong><br>"]|join('') %}
    {% set val_temp = [val_temp, keynote|first.authors|markdown|striptags('</p>'), ', reflecting on the work <em><a href="', keynote|first.link, '" title="Read about the ', session.title, ' keynote">', themepaper|first.title, '</a></em><br><br>']|join('') %}
    {% if loop.index == sessionsperside %}
        {% set val_left = val_temp %}
        {% set val_temp = '' %}
    {% endif %}
    {% endif %}
{% endfor %}

{% set value = [val_left, val_temp] %}
{% set class = '' %}

{{ block('text_field') }}