{% use 'partials/_sub_field_blocks.twig' %}

{% setcontent sessions = 'sessions' where { session_types: 'panel' } orderby 'starttime' %}
{% setcontent papers = 'programme' where { types: 'keynote' } %}
{% set sessionsperside = (sessions|length // 2) %}

{% set val_left = '' %}
{% set val_temp = '' %}

{% for session in sessions %}
    {% set val_temp = [val_temp, "<strong>", session.title, "</strong><br>"]|join('') %}
    {% for paper in papers if session.id in paper.relation.sessions %}
        {% set val_temp = [val_temp, paper.authors|markdown|striptags('</p>'), ', reflecting on the work <em><a href="', paper.link, '" title="Read ', paper.title, '">', paper.title, '</a></em><br><br>']|join('') %}
    {% endfor %}
    {% if loop.index == sessionsperside %}
        {% set val_left = val_temp %}
        {% set val_temp = '' %}
    {% endif %}
{% endfor %}

{% set value = [val_left, val_temp] %}
{% set class = '' %}

{{ block('text_field') }}