{% use 'partials/_sub_field_blocks.twig' %}

{% setcontent sessions = 'sessions' where { session_types: 'session' } orderby 'starttime' %}
{% setcontent events = 'programme' where { types: 'theme-setting' } %}
{% set sessionsperside = (sessions|length // 2) %}

{% set val_left = '' %}
{% set val_temp = '' %}

{% for session in sessions %}
	{% set filtered_events = events|filter(v => v.relation.sessions|first == session.id) %}
	{% set themepaper = filtered_events|filter(v => v.taxonomy.types|first == "Theme-setting paper") %}
	{% if themepaper|length > 0 %}
		{% set val_temp = [val_temp, "<strong>", session.title, " theme</strong>"]|join('') %}
		{% set val_temp = [val_temp, '<br><a href="', themepaper|first.link, '" title="Read ', themepaper|first.title, '">', themepaper|first.title, '</a>', themepaper|first.authors|markdown]|join('') %}
		{% if loop.index == sessionsperside %}
			{% set val_left = val_temp %}
			{% set val_temp = '' %}
		{% endif %}
	{% endif %}
{% endfor %}

{% set value = [val_left, val_temp] %}
{% set class = '' %}

{{ block('text_field') }}